# fly.toml app configuration file generated for split-bill-be on 2025-11-26T07:59:56Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'split-bill-be'
primary_region = 'iad'

[build]

[[mounts]]
  source = 'tmp'
  destination = '/tmp'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
